.rvd-item{
  display:flex;
  position: relative;
  flex-grow:0;
  flex-shrink: 0;
  overflow:hidden;
  box-sizing: border-box;
}
.rvd-parent{
  position:relative;
  display:flex;
  flex-grow:0;
  flex-shrink: 0;
  box-sizing: border-box;
}
.rvd-html{
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  box-sizing: border-box;
}
.rvd-gap{
  flex-shrink:0;
}
.rvd-gap:last-child{
  display:none;
}
@media screen and (max-width: 768px) {
    .rvd-hide-xs {
        display: none !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .rvd-hide-sm {
        display: none !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .rvd-hide-md {
        display: none !important;
    }
}
@media screen and (min-width: 1200px) {
    .rvd-hide-lg {
        display: none !important;
    }
}
