.r-layout-item{
    display:flex;
    position: relative;
    flex-grow:0;
    flex-shrink: 0;
    overflow:hidden;
    box-sizing: border-box;
  }
  .r-layout-parent{
    position:relative;
    display:flex;
    flex-grow:0;
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .r-layout-html{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    box-sizing: border-box;
  }
  .r-layout-gap{
    flex-shrink:0;
  }
  .r-layout-gap:last-child{
    display:none;
  }
  @media screen and (max-width: 768px) {
      .r-layout-hide-xs {
          display: none !important;
      }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
      .r-layout-hide-sm {
          display: none !important;
      }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
      .r-layout-hide-md {
          display: none !important;
      }
  }
  @media screen and (min-width: 1200px) {
      .r-layout-hide-lg {
          display: none !important;
      }
  }
  